<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>Create a new chat room! | Tutorialzine Demo</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>
	<header>
		<div class="headpart">
		<h1>Welcome!</h1>
		<h3>Go ahead and create a chat room to start a 1 to 1 session with a disired guest or friend.</h3>
	</div>
	</header>

	<section>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create an Awesome</div>
					<div id="big">Chat Room!</div>
				</div>
			</a>
		</div>

	</section>

</body>
</html>
